.featured-providers {
    text-align: center;
    margin: 40px 0;
  }
  
  /* h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  } */
  
  .providers-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .provider-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .provider-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .provider-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .provider-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
  }
  
  .provider-card p:last-child {
    font-weight: bold;
    color: #4caf50;
  }
  